.container {
    height: 100%;
    padding: 0.2rem 0.4rem;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    width: 100%;
}

.success {
    margin-bottom: 0.1rem;
    text-align: center;
}

.scan {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    text-align: center;
    color: #707377;
}

.qr-box-div {
    text-align: center;
}

.qr-box {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;

}

#version {
    text-align: right;
    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: #bbb;
}
.url-style{
    color: #409eff;
}
.url-box{
    margin-bottom: 0.2rem;
}
.url-button{
    margin:0 auto;
    width: 1.8rem;
    height: 0.3rem;
    text-align: center;
    border:2px solid #049eff;
    line-height: 0.3rem;
    color: #049eff;
    border-radius: 5px;
    font-weight: 700;
}